


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');



body{
  font-family: 'Roboto Condensed', sans-serif;
}


.Nav-div{
  position: absolute;
}
:root{
  --primary-white: #fff;
  --primary-black: #000;
  --primary-orenge: #FF8553;
}
.test>div{
  transition: .5s ease-in-out;
}
.test:hover >div {
  transform: translateX(-100%);
  transition: .5s ease-in-out;
}




/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {  
  .Prsonal-div {
    margin-top: 0rem !important;
  }
  .main_col>div {
    border: none;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }