.about-bg{
    border-top-right-radius:4rem ;
    border-bottom-right-radius:4rem ;
    background: lightgray;
    opacity: .30;
}
.p-c{
    color: var(--primary-orenge);
}
.progress-div >div{
    height: 5px;
    background-color: rgb(240, 195, 178);
    border-radius: 5px;
}
.progress-div >div >div{
    height: 5px;
    background-color: var(--primary-orenge);
    border-radius: 5px;
    
}
.progress-div >.div-1 div{
   
    width: 85%;
}
.progress-div >.div-2 div{
   
    width: 65%;
}
.progress-div >.div-3 div{
   
    width: 75%;
}
.progress-div >p{
    margin-bottom: 0;
    margin-top: 2rem;
}
.progress-div {
    margin-top: -3rem;
}
.anny{
    display: flex;
    overflow: hidden;
}