.p_bottom{
    color: var( --primary-orenge);
    border-bottom: 1px solid var(--primary-orenge) !important;
    cursor: pointer;
}
 .main_col >:hover{
    box-shadow:
    0 2.8px 2.2px rgba(233, 142, 67, 0.034),
    0 6.7px 5.3px rgba(235, 156, 83, 0.048),
    0 12.5px 10px rgba(223, 151, 84, 0.06),
    0 12px 12px rgba(221, 139, 92, 0.072),
    0 20.8px 17.4px rgba(124, 59, 59, 0.086),
    0 50px 40px rgba(223, 154, 76, 0.12)
  ;
  
    
  
  
 transition: .3s ease-in-out;
 }
 .p_bottom{
    
    transition:  all .3s  ease-in-out;
    letter-spacing: initial;
 }
 .p_bottom:hover{
    letter-spacing: 1px;
    
 }
 .main_col >:nth-child(1){
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
 }
 .main_col >:nth-child(2){
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
 }
 .main_col >:nth-child(3){
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
 }
 .main_col >:nth-child(4){
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
 }

 
 /* .parent-dev{
    position: relative;
    
   

}
 .parent-dev:before , .parent-dev:after 
{
  z-index: -2;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  opacity: 0;
  transition: opacity .3s ease;
}
.parent-dev:after 
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.parent-dev:hover.parent-dev:before{
    opacity: 1;
}

.parent-dev:hover.parent-dev::after{
    opacity: 1;
} */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {  
  
   .main_col >:nth-child(1){
      border: none;
   }
   .main_col >:nth-child(2){
      border: none;
   }
   .main_col >:nth-child(3){
      border: none;
   }
   .main_col >:nth-child(4){
      border: none;
   }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }