.Home-Main{
    background-color: var(--primary-orenge);
    
}
.home-up{
    background-color: var(--primary-white);
    opacity: .075;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
    position: absolute;
    
    

}
.home-down{
    background-color: var(--primary-white);
    opacity: .075;
    clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
    position: absolute;
    /* margin-bottom: 0; */
}