
.Prsonal-div{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    
}
.info{
    font-size:4vw
}
.top-row{
    display: flex;
    justify-content: center;
}


/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    .logo{
        border: 2px solid white !important;
        width: 4vw ;   
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {  
    .logo{
        border: 2px solid white !important;
        width: 27vw ;   
    }
    .info{
        font-size: 2rem;
        
    }
    .botum-row div :nth-child(2){
        font-size: 0.9rem;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .logo{
        
        width: 22vw ;   
    }
    
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .logo{
        width: 15vw ; 
        border: 3px solid white !important; 
    }
    .info{
        font-size: 4rem;
        
    }
    
 }
@media (max-width: 1200px) { 
    .logo{
        border: 3px solid white !important;
        width: 22vw ;   
    }
 }


 